@import './reset.css';

header .header{
    width: 100%;
    height:50px;
    background-color: #ddd;
}

header{
    .header h1{
        font-weight: bolder;
    }
}

section .section{
    margin:20px;
}

footer .footer{
    width: 100%;
    height:30px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}